<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.teamfrankly.franklykeywordapi.BbsAPI.BbsMapper">

    <resultMap type="BbsDTO" id="bbsResultMap">
        <id column="id" property="id"/>
        <result column="author" property="author"/>
        <result column="regDate" property="regDate"/>
<!--        <result column="marked" property="marked"/>-->
        <result column="title" property="title"/>
        <result column="content" property="content"/>
    </resultMap>

    <insert id="createBoard" parameterType="BbsDTO">
        INSERT INTO member_info.board(author, regDate, title, content, region)
        VALUES(#{author}
              ,#{regDate}
              ,#{title}
              ,#{content}
              ,#{region})
    </insert>

    <select id="readBoard" resultMap="bbsResultMap">
        SELECT * FROM member_info.board
        WHERE id = #{id} AND region = #{region}
    </select>

    <update id="updateBoard" parameterType="BbsDTO">
        UPDATE member_info.board
        SET title = #{title},
            content = #{content}
        WHERE id = #{id} AND region = #{region}
    </update>


    <delete id="deleteBoard" parameterType="BbsDTO">
        DELETE FROM member_info.board
        WHERE id = #{id} AND region = #{region}

    </delete>



</mapper>
